{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="ftco-section">
  <div class="container mt-5">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section">
        <span>{% trans "Sign Up" %}</span>

        <h4>{% blocktrans %}already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</h4>
      </div>
    </div>
    <div class="row wow fadeIn justify-content-center">
      <div class="col-md-8 col-lg-6">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn py-2 px-4 btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}