{% if request.user.is_authenticated %}
<form class="like-form ui left labeled button" tabindex="0" action="." method="POST">
    {% csrf_token %}
    <a class="ui basic right pointing label" data-likes='{{ post.likes.count }}'>
        {{ post.likes.count }}
    </a>
    <button type="submit" class="ui button" id="like" name="post_id" value="{{ post.id }}">
        {% if is_liked %}
        <i class="heart red icon"></i> Unlike
        {% else %}
        <i class="heart outline icon"></i> Like
        {% endif %}
    </button>
</form>
{% endif %}