{% load static %}
{% load i18n %}
{% load menubuilder %}

<header>
    <div class="brand">
        <a href="#">Aksar La'ode</a>
    </div>
    <div class="menu-btn">
        <span></span>
    </div>

    <nav class="menu">
        <ul class="menu-nav">
            <h5>menu</h5>
            {% menu main %}
            {% for item in menuitems %}
            <li class="nav-item{% if item.current %} current{% endif %}">
                <a href="{{ item.url }}" class="nav-link">
                    {{ item.title|escape }}
                </a>
            </li>
            {% endfor %}
            {% comment %} <form action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language" class="ui dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        <!-- {{ language.name_local }} --> {{ language.code }}
                    </option>
                    {% endfor %}
                </select>
                <input class="ui button" type="submit" value="Go">
            </form> {% endcomment %}
            <span>&copy; 2020 Aksar La'ode. Made With <ion-icon name="heart-outline"></ion-icon> in Kendari,
                Sultra</span>
        </ul>
    </nav>
</header>
