<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'snippets/head.html' %}
    <title>Bootstrap Blog - {% block head_title %}Bahutara{% endblock %}</title>
</head>

<body id="my-scrollbar">
    <div class="page">

        {% include 'snippets/header.html' %}

        {% block content %}
        {% endblock %}

        {% comment %} <div id="offlinedata">
            <!-- the news will get displayed here from indexedDB in offline mode -->
        </div> {% endcomment %}

        {% include 'snippets/footer.html' %}

    </div>

    {% include 'snippets/scripts.html' %}

    {% block extra_body %}
    {% endblock %}
</body>

</html>