<!-- {% load static %}
{% load crispy_forms_tags %}
{% load comments %}
{% load comments_xtd %}


<div class="pt-5 mt-5">
    {% get_comment_count for object as comment_count %}
    <h3 class="mb-5">
        {{ comment_count }} comment{{ comment_count|pluralize }}
    </h3>
    {% comment %} <h3 class="mb-5">{{ post.comment_count }} Comment{{ post.comment_count|pluralize }}</h3>
    {% endcomment %}
    <ul class="comment-list">
        {% if comment_count %}
            {% render_xtdcomment_tree for object allow_flagging allow_feedback show_feedback %}
        {% endif %}
    </ul>
    END comment-list
    {% comment %} {% if object.allow_comments %} {% endcomment %}
    <div class="comment">
        <h3 class="mb-5">Leave a comment</h3>
        <div class="well">
            {% render_comment_form for object %}
        </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}

    {% if comment_count %}
    <ul class="media-list">
        
    </ul>
    {% endif %}
</div> -->

<div id="disqus_thread"></div>
<script>
    // Modify Start


    // change yourdomain.in to your domain
    var disqus_config = function () {
        this.page.url = "http://127.0.0.1:8000/blog/{{url}}/";
        this.page.identifier = "{{url}}";
    };

    // Modify End

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://akhsar.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% block extra_body %}

{% endblock %}