{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block head_title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section">
                <span>{% trans "Preview of your comment for" %}</span>
                <h3>
                    <a href="{{ form.target_object.get_absolute_url }}" class="text-white">{{ form.target_object }}</a>
                </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <ul class="comment-list">
                    {% if not comment %}
                    <em>{% trans "Empty comment." %}</em>
                    {% else %}
                    <li class="comment">
                        <div class="vcard bio">
                            {{ form.cleaned_data.email|xtd_comment_gravatar }}
                        </div>
                        <div class="comment-body">
                            <h3>
                                {% if form.cleaned_data.url %}
                                <a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
                                    {{ form.cleaned_data.name }}
                                    {% if form.cleaned_data.url %}</a>{% endif %}
                            </h3>
                            <div class="meta">{% now "N j, Y, P" %}</div>
                            <p>{{ comment }}</p>
                    </li>
                    {% endif %}
                </ul>
                <h4 class="pb-3">{% trans "Post your comment" %}</h4>
                {% include "comments/form.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}